<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="/static/addnew.css">
     <link rel="stylesheet" href="/static/table.css">
     <link rel="stylesheet" href="/static/form.css">
     <link rel="stylesheet" href="/static/buttons.css">

</head>

<script>

      function goBack() {
        window.history.back();
      }


    function edit(el) {
  el.childNodes[0].removeAttribute("disabled");
  el.childNodes[0].focus();
  window.getSelection().removeAllRanges();
}
function disable(el) {
  el.setAttribute("disabled","");
}

function openForm() {
    document.getElementById("myForm").style.display = "block";
}

function closeForm() {
    document.getElementById("myForm").style.display = "none";
}

</script>




<body>


<button onclick="goBack()" style="  background-color: Transparent;
    color: blue;
      background-repeat:no-repeat;
      border: none;
      cursor:pointer;
      overflow: hidden;
      outline:none;
      font-size: 50px;
      ">
       &laquo;
     </button>


<form method="POST" action=""  class="form-inline">
  enter college id: <input type="text" name="cid" value="{{cid}}"  />
  <br>
    <button type="submit" name="submit" class="btn" value="1" >search</button>


    </form>

<div style="position: absolute; top: 0;right: 40px; ">

    <a href="{{ url_for('logout') }}"> <button class="button button">log out</button> </a>

   </div>


admin college
<div>
<table  id="customers">
     <tr>
            <th>college id</th>
             <th>name</th>
             <th>email</th>
             <th>Place</th>
             <th>seats left</th>
             <th>college info</th>
             <th>branch info</th>
         <th>delete</th>
        </tr>

    {% for i in result %}

        <tr>
            <td>{{i[0]}}</td>
            <td>{{i[1]}}</td>
            <td>{{i[3]}}</td>
            <td>{{i[4]}}</td>
            <td>{{i[5]}}</td>

            <td><a href="{{ url_for('college_info',cid=i[0]) }}"> <button >update</button> </a></td>
            <td><a href="{{ url_for('branch_info',cid=i[0]) }}"> <button >update seats</button> </a></td>

           <td><a href="{{ url_for('delete',what='college',id=i[0]) }}"> <button >delete</button> </a></td>
        </tr>

     {%endfor%}
   </table>
    </div>
<br>
<br>
<br>
<br>

<button class="open-button" onclick="openForm()">Add College</button>

<div class="form-popup" id="myForm">
  <form action="" class="form-container" method="POST">

    <label ><b>name</b></label>
    <input type="text" placeholder="enter name" name="cname" required>

    <label ><b>password</b></label>
    <input type="password" placeholder="password" name="password" required>

       <label ><b>Email</b></label>
    <input type="email"  placeholder="enter email id" name="email" required>

       <label ><b>place</b></label>
    <input type="text" placeholder="enter the place" name="loc" required>

    <button type="submit" name="submit" class="btn" value="2" >Add</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>


</body>
</html>