<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="/static/addnew.css">
     <link rel="stylesheet" href="/static/table.css">
     <link rel="stylesheet" href="/static/form.css">
     <link rel="stylesheet" href="/static/buttons.css">
     <link rel="stylesheet" href="/static/flash.css">
</head>

<script>

      function goBack() {
        window.history.back();
      }


    function edit(el) {
  el.childNodes[0].removeAttribute("disabled");
  el.childNodes[0].focus();
  window.getSelection().removeAllRanges();
}
function disable(el) {
  el.setAttribute("disabled","");
}

function openForm() {
    document.getElementById("myForm").style.display = "block";
}

function closeForm() {
    document.getElementById("myForm").style.display = "none";
}

</script>




<body>
<h1 align="center"> College</h1>


<button onclick="goBack()" style="  background-color: Transparent;
    color: blue;
      background-repeat:no-repeat;
      border: none;
      cursor:pointer;
      overflow: hidden;
      outline:none;
      font-size: 50px;
      ">
       &laquo;
     </button>


<form method="POST" action=""  class="form-inline">
  enter college id: <input type="text" name="cid" value="{{cid}}"  />
  <br>
    <button type="submit" name="submit" class="btn" value="1" >search</button>


    </form>
<br>
{% with messages = get_flashed_messages(with_categories=true) %}
   {% if messages %}
      {% for category, message in messages %}
     <div class="{{ category }}">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <b>{{category}}! </b>   {{message}}
</div>
      {% endfor %}
   {% endif %}
{% endwith %}
<br>

<div style="position: absolute; top: 0;right: 40px; ">

    <a href="{{ url_for('logout') }}"> <button class="button button">log out</button> </a>

   </div>


<div>
<table  id="customers">
     <tr>
            <th>college id</th>
             <th>name</th>
             <th>webiste</th>
             <th>Place</th>
             <th>seats left</th>
             <th>college info</th>
             <th>branch info</th>
             <th>Students list</th>
         <th>delete</th>
        </tr>

    {% for i in result %}

        <tr>
            <td>{{i[0]}}</td>
            <td>{{i[1]}}</td>
            <td>{{i[3]}}</td>
            <td>{{i[4]}}</td>
            <td>{{i[5]}}</td>

            <td><a href="{{ url_for('college_info',cid=i[0]) }}"> <button >update</button> </a></td>
            <td><a href="{{ url_for('branch_info',cid=i[0]) }}"> <button >update seats</button> </a></td>
            <td><a href="{{ url_for('admin_college_list',cid=i[0]) }}"> <button >View</button> </a></td>

           <td><a href="{{ url_for('delete',what='college',did=i[0],id=id) }}"> <button >delete</button> </a></td>
        </tr>

     {%endfor%}
   </table>
    </div>
<br>
<br>
<br>
<br>

<button class="open-button" onclick="openForm()">Add College</button>

<div class="form-popup" id="myForm">
  <form action="" class="form-container" method="POST">

    <label ><b>Name</b></label>
    <input type="text" placeholder="enter name" name="cname" maxlength="40" required>

    <label ><b>Password</b></label>
    <input type="password" placeholder="password" name="password" minlength="5" maxlength="10" required>

          <label ><b>  phone </b></label>
      <input type="number" name="phone"  required maxlength="10" minlength="10" pattern="[7-9]{1}[0-9]{9}">


      <label ><b>Website </b></label>
      <input type="text" name="website" placeholder="College website link"  maxlength="100" >
                <br>

       <label ><b>Place</b></label>
    <input type="text" placeholder="enter the place" name="loc" maxlength="40" required>

    <button type="submit" name="submit" class="btn" value="2" >Add</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>


</body>
</html>