<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <link rel="stylesheet" href="/static/addnew.css">
      <link rel="stylesheet" href="/static/table.css">
      <link rel="stylesheet" href="/static/buttons.css">
      <link rel="stylesheet" href="/static/form.css">
      <link rel="stylesheet" href="/static/flash.css">




</head>




<script>


      function goBack() {
        window.history.back();
      }


    function edit(el) {
  el.childNodes[0].removeAttribute("disabled");
  el.childNodes[0].focus();
  window.getSelection().removeAllRanges();
}
function disable(el) {
  el.setAttribute("disabled","");
}

function openForm() {
    document.getElementById("myForm").style.display = "block";
}

function closeForm() {
    document.getElementById("myForm").style.display = "none";
}

</script>



<h1 align="center"> THE RANK LIST</h1>

<body>
<button onclick="goBack()" style="  background-color: Transparent;
    color: blue;
      background-repeat:no-repeat;
      border: none;
      cursor:pointer;
      overflow: hidden;
      outline:none;
      font-size: 50px;
      ">
       &laquo;
     </button>

<form method="POST" action=""  class="form-inline">
  enter roll no: <input type="text" name="roll" value="{{cid}}"  />
  <br>
    <button type="submit" name="submit" class="btn" value=1 >search</button>


    </form>

<br>
{% with messages = get_flashed_messages(with_categories=true) %}
   {% if messages %}
      {% for category, message in messages %}
     <div class="{{ category }}">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <b>{{category}}! </b>   {{message}}
</div>
      {% endfor %}
   {% endif %}
{% endwith %}
<br>

<div style="position: absolute; top: 0;right: 40px; ">

    <a href="{{ url_for('logout') }}"> <button class="button button">log out</button> </a>

   </div>


<br>
<br>
<br>
<div>

   <table id="customers">
       <tr>
    <th>roll</th>
    <th>name</th>
      <th>rank</th>
      <th>Action</th>


  </tr>
    {% for i in data %}

        <tr>
            <td>{{i[0]}}</td>
            <td>{{i[1]}}</td>
            <td>{{i[2]}}</td>
<td><a href="{{ url_for('delete',what='rank',did=i[0],id=id) }}"> <button >delete</button> </a></td>
        </tr>

     {%endfor%}
   </table>

</div>


<button class="open-button" onclick="openForm()">add +</button>
<div class="form-popup" id="myForm">
  <form action="" class="form-container" method="POST">


    <label ><b>roll no</b></label>
    <input type="text" placeholder="Enter roll no" name="roll" maxlength="5" minlength="5" required>

    <label ><b>name</b></label>
    <input type="text" placeholder="Enter name" name="sname" maxlength="45" required>

       <label ><b>rank</b></label>
    <input type="text" placeholder="Rank" name="rank" minlength="0" required>



    <button type="submit" name="submit" class="btn" value=2>Add</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>




</body>
</html>