<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="/static/addnew.css">
     <link rel="stylesheet" href="/static/table.css">
     <link rel="stylesheet" href="/static/buttons.css">


</head>

<script>


      function goBack() {
        window.history.back();
      }
          function edit(el) {
  el.childNodes[0].removeAttribute("disabled");
  el.childNodes[0].focus();
  window.getSelection().removeAllRanges();
}
function disable(el) {
  el.setAttribute("disabled","");
}

function openForm() {
    document.getElementById("myForm").style.display = "block";
}

function closeForm() {
    document.getElementById("myForm").style.display = "none";
}


</script>

<body>
<button onclick="goBack()" style="  background-color: Transparent;
    color: blue;
      background-repeat:no-repeat;
      border: none;
      cursor:pointer;
      overflow: hidden;
      outline:none;
      font-size: 50px;
      ">
       &laquo;
     </button>

<div style="position: absolute; top: 0;right: 40px; ">

    <a href="{{ url_for('logout') }}"> <button class="button button">log out</button> </a>

</div>



<br>
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}
<br>


<table id="customers">
<tr>
    <th>branch</th>
        <th>seats</th>

        <th>cutoff</th>

        <th>fees</th>

        <th>action</th>

</tr>
    {% for i in bdata %}
    <form method="POST" action="">


        <tr>

            <td ><input type="text" value="{{i[0] }}" name="dep"  ></td>
            <td ><input type="number" value="{{i[1] }}" name="seats" min="0" ></td>
            <td ><input type="number" value="{{i[2] }}" name="cut_off" min="0"></td>
             <td ><input type="number" value="{{i[3] }}" name="fees" min="0"></td>
             <td><button name="submit" value="1" type="submit">update</button></td>

        </tr>
        <br>
               </form>


    {% endfor %}
  </table>

<button class="open-button" onclick="openForm()">add branch</button>

<div class="form-popup" id="myForm">
  <form action="" class="form-container" method="POST">


    <label ><b>branch</b></label>
    <input type="text" placeholder="Branch name" name="bname" maxlength="45" required>

    <label ><b>seats</b></label>
    <input type="number" placeholder="no of seats" name="seats" required>

       <label ><b>cut off</b></label>
    <input type="number" placeholder="cut off" name="cut_off" required>

       <label ><b>fees</b></label>
    <input type="number" placeholder="seats" name="fees" required>

    <button type="submit" name="submit" class="btn" value="2">Add</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>







</body>
</html>