<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
     <script>
      function goBack() {
        window.history.back();
      }


      </script>
<body>
<button onclick="goBack()" style="  background-color: Transparent;
    color: blue;
      background-repeat:no-repeat;
      border: none;
      cursor:pointer;
      overflow: hidden;
      outline:none;
      font-size: 50px;
      ">
       &laquo;
     </button>

{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}
<br>



<form action="" method="POST">
    Enter the Roll : <input type="text" name="rol" maxlength="10" autofocus="autofocus"><br><br>
<button  type="submit"> OK</button>
   <!-- <a href="{{url_for('forgot',id=id)}}"><button type="button"> OK</button></a>-->
</form>
</body>
</html>