<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sign up</title>
  <link rel="stylesheet" href="/static/studentlogin/styless.css">
    <script>
function goBack() {
    window.history.back();
}
</script>


</head>


<body  background="/static/studentlogin/signin1.jpg">
       <!-- -->
<button onclick="goBack()" style="  background-color: Transparent;
  color: white;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 50px;
    ">
     &laquo;
   </button>

   <br>
   <h1 style=" color: white;"> the signup page</h1>
   <br>
   <br>
    <div class="container">

        <div  style="float:left; width: 50%;">
            <p id="quotes">hello world </p>
        </div>

        <div style="position: absolute;top: 50;right: 0;">
            <form  method="POST" action="">
                <label>{{message}}</label>
                <br>
                <input type="text" name="rollno" placeholder="rollno" value="{{request.form.rollno}}" maxlength="5" minlength="5" required>
                <br><br>
                <input type="text" name="name" placeholder="your name" value="{{request.form.name}}" maxlength="45" required>
                <br><br>
                <input type="password" name="password" placeholder="password" value="{{request.form.password}}" minlength="5" maxlength="10" required>
                <br><br>
                <input type="email" name="email" placeholder="Email" value="{{request.form.email}}" maxlength="45" required>
                <br><br>
                <input type="number" name="phno" placeholder="phone no" value="{{request.form.phno}}" minlength="10" maxlength="10" pattern="[7-9]{1}[0-9]{9}" required>
                <br><br>
                <input type="number" name="rank" placeholder="your rank" value="{{request.form.rank}}" minlength="0" required>
                <br><br>
            <button type="submit" class="button">  sign up </button>
            </form>
        </div>
    </div>

</body>
</html>
