<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>student_final</title>
    <link rel="stylesheet" href="/static/flash.css">
</head>
 <script>
      function goBack() {
        window.history.back();
      }
      </script>
<body>
<button onclick="goBack()" style="  background-color: Transparent;
    color: blue;
      background-repeat:no-repeat;
      border: none;
      cursor:pointer;
      overflow: hidden;
      outline:none;
      font-size: 50px;
      ">
       &laquo;
     </button>

<br>
{% with messages = get_flashed_messages(with_categories=true) %}
   {% if messages %}
      {% for category, message in messages %}
     <div class="{{ category }}">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <b>{{category}}! </b>   {{message}}
</div>
      {% endfor %}
   {% endif %}
{% endwith %}
<br>

<br>


     {% if roll %}

   {{roll}} has joined college :{{cid}} to the branch:{{bname}}
    {% else %}
    {{new_roll}}    {{message}}
    {% endif%}

</body>
</html>